<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" name="email" formControlName="email" required></ion-input>
      <small class="form-text text-muted"
        *ngIf="profileForm.controls.email.touched && profileForm.controls.email.errors?.required">
        Please enter email address.!
      </small>
      <small class="form-text text-muted"
        *ngIf="profileForm.controls.email.touched && profileForm.controls.email.errors?.email">
        Email address not well formed.!
      </small>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="pass" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row class="martop">
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]="!profileForm.valid">Log In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>