#container {
  text-align: center;

  position: absolute;
  left: 15px;
  right: 15px;
  top: 46%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-button {
  width: 96%;
  margin: 18px 10px;
}

.martop {
  margin-top: 30px;
}

h4 {
  display: flex;
  flex-direction: row;
}

h4:before,
h4:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}
