<ion-header id="myaddress">
  <ion-toolbar>
    <ion-title class="pad0">Scan Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" *ngIf="scanArray && scanArray.length == 0">
    <h3>Click on scan button to scan your barcode</h3>
  </div>

  <div style="margin: 18px 16px;text-align: center;">
    <ion-input type="text" placeholder="Enter QR Data" [(ngModel)]="qrData">
    </ion-input>

    <ion-button full icon-left (click)="createCode()">
      <ion-icon name="barcode"></ion-icon>&nbsp;Create
    </ion-button>

    <qr-code [value]="createdCode" size="300" errorCorrectionLevel="M"></qr-code>
    <div *ngIf="createdCode">
      <ion-icon name="mail-outline" (click)="email()" style="font-size: 32px;
      color: red;
      margin: 7px 4px;"></ion-icon>
      <ion-icon name="logo-whatsapp" style="font-size: 32px;
      color: rgb(0, 255, 153);
      margin: 7px 4px;" (click)="ShareWhatsapp()"></ion-icon>
    </div>
    <div>
      <h4>OR</h4>
    </div>

    <div>
      <ion-button full icon-left (click)="scanNow()"><ion-icon name="barcode"></ion-icon>
        &nbsp;Scan Now</ion-button>
    </div>

  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="scanArray && scanArray.length>0">
          <ion-card *ngFor="let data of scanArray;let i=index;">
            <ion-card-content>
              <div>
                <ion-label>Sr No : {{i+1}}</ion-label>
              </div>
              <div>
                <ion-label>Format : {{data.format}}</ion-label>
              </div>
              <div>
                <ion-label>Text : {{data.text}}</ion-label>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>